@page
@model DAWPI.Pages.Usuarios.DetallesCitaModel
@{

}

<!DOCTYPE html>
<html>
@if (Model.Cita == null)
{
    <div class="alert alert-success text-center" role="alert">
        <h4>Aún no ha seleccionado ninguna cita, o esta no existe.</h4>
        <p>
            Por favor, asegurese de que la cita existe, vuelva atrás para seleccionar una cita.
        </p>

    </div>
}
else
{


    <head>
        <title>Detalles de la cita</title>
    </head>

    <body style="font-family: Arial, sans-serif; background-color: rgba(248, 249, 250, 0.9);">

        <div style="margin: auto; max-width: 800px; padding: 20px; border-radius: 10px;background-color: rgba(248, 249, 250, 0.9); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);">
            <h1 style="text-align: center; color: #333333; margin-bottom: 30px;">Detalles de la cita</h1>

            <div style="border-top: 1px solid #dddddd; padding-top: 20px; margin-top: 20px;">
                <h4 style="color: #555555; margin-top: 30px;">Asunto:</h4>
                <p style="margin-bottom: 0; color: #777777;">@Model.Cita.Asunto</p>
            </div>

            <div style="border-top: 1px solid #dddddd; padding-top: 20px; margin-top: 20px;">
                <h4 style="color: #555555; margin-top: 30px;">Nombre del paciente:</h4>
                <p style="margin-bottom: 0; color: #777777;">@Model.Cita.NombrePaciente</p>
            </div>

            <div style="border-top: 1px solid #dddddd; padding-top: 20px; margin-top: 20px;">
                <h4 style="color: #555555; margin-top: 30px;">Síntomas:</h4>
                <p style="margin-bottom: 0; color: #777777;">@Model.Cita.Sintomas</p>
            </div>

            @if (!Model.Cita.EstadoCita.Equals("Pendiente de asignación"))
            {
                <div style="border-top: 1px solid #dddddd; padding-top: 20px; margin-top: 20px;">
                    <h4 style="color: #555555; margin-top: 30px;">Médico:</h4>
                    <p style="margin-bottom: 0; color: #777777;">@Model.Cita.NombreMedico</p>
                </div>

                @if (Model.Cita.EstadoCita.Equals("Finalizada") || Model.Cita.EstadoCita.Equals("Asignada"))
                {
                    <div style="border-top: 1px solid #dddddd; padding-top: 20px; margin-top: 20px;">
                        <h4 style="color: #555555; margin-top: 30px;">Fecha:</h4>
                        <p style="margin-bottom: 0; color: #777777;">@Model.Cita.Fecha</p>
                    </div>

                    <div style="border-top: 1px solid #dddddd; padding-top: 20px; margin-top: 20px;">
                        <h4 style="color: #555555; margin-top: 30px;">Hora:</h4>
                        <p style="margin-bottom: 0; color: #777777;">@Model.Cita.Hora</p>
                    </div>

                    <div style="border-top: 1px solid #dddddd; padding-top: 20px; margin-top: 20px;">
                        <h4 style="color: #555555; margin-top: 30px;">Planta:</h4>
                        <p style="margin-bottom: 0; color: #777777;">@Model.Cita.CodPlanta</p>
                    </div>

                    <div style="border-top: 1px solid #dddddd; padding-top: 20px; margin-top: 20px;">
                        <h4 style="color: #555555; margin-top: 30px;">Consulta:</h4>
                        <p style="margin-bottom: 0; color: #777777;">@Model.Cita.CodSala</p>
                    </div>
                }

                @if (Model.Cita.EstadoCita.Equals("Finalizada"))
                {
                    <div style="border-top: 1px solid #dddddd; padding-top: 20px; margin-top: 20px;">
                        <h4 style="color: #555555; margin-top: 30px;">Enfermedad diagnosticada:</h4>
                        <p style="margin-bottom: 0; color: #333333; background-color: #ffd700; padding: 2px;">@Model.Cita.Enfermedad</p>
                    </div>

                    <div style="border-top: 1px solid #dddddd; padding-top: 20px; margin-top: 20px;">
                        <h4 style="color: #555555; margin-top: 30px;">Plan de tratamiento y solución:</h4>
                        <p style="margin-bottom: 0; color: #333333; background-color: #ffd700; padding: 2px;">@Model.Cita.Solucion</p>
                    </div>
                }
            }

            <div style="border-top: 1px solid #dddddd; padding-top: 20px; margin-top: 20px;">
                <h4 style="color: #555555; margin-top: 30px;">Estado de la cita:</h4>
                <p style="margin-bottom: 0; color: #777777;">@Model.Cita.EstadoCita</p>
            </div>

            <br />
            <br />
            <form method="post">
                <button asp-page-handler="DescargarDetallesCitaPDF" type="submit" class="btn-download" style="background-color: #4CAF50; color: white; border: none; padding: 5px 10px; border-radius: 5px; cursor: pointer; font-size: 16px;">Descargar Cita en PDF</button>
            </form>


            <br/>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var modelState in ViewData.ModelState.Values)
                        {
                            foreach (var error in modelState.Errors)
                            {
                                <li>@error.ErrorMessage</li>
                            }
                        }
                    </ul>
                </div>
            }
        </div>



    </body>



}
</html>
